@model IEnumerable<TaskItem>

@{
    ViewData["Title"] = "Task Page";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsComplete)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var Item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(List => Item.Id)
            </td>
            <td>
                @Html.DisplayFor(List => Item.Title)
            </td>
            <td>
                @Html.DisplayFor(List => Item.Description)
            </td>
            <td>
                @Html.CheckBoxFor(List => Item.IsComplete)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@Item.Id" class="btn btn-primary">View</a>
                <a asp-action="Edit" asp-route-id="@Item.Id" class="btn btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@Item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Create new Task</a>